# Use this file to have your own variables. Don't touch the .tf definition variables file.

bridge = "{{ bridge }}"
disk_format = "{{ disk_format }}"
node = "{{ node }}"
node_password = "{{ node_password }}"
node_url = "{{ node_url }}"
node_username = "{{ node_username }}"
ssh_username = "{{ ssh_username }}"
storage_pool = "{{ storage_pool }}"
sudo_password = "{{ sudo_password }}"
vm_id = "{{ vm_id }}"
vm_name = "{{ vm_name }}"