{{ ansible_managed | comment }}

# ~/.bashrc: exécuté par bash(1) pour les shells non interactifs.
# voir /usr/share/doc/bash/examples/startup-files (dans le package bash-doc)
# pour des exemples

# Ne rien faire si ce n'est pas interactif
case $- in
    *i*) ;;
      *) return;;
esac

# Ne pas mettre de lignes en double ni de lignes commençant par un espace dans l'historique.
# Voir bash(1) pour plus d'options
HISTCONTROL=ignoreboth

# Ajouter à l'historique plutôt que de l'écraser
shopt -s histappend

# Pour définir la taille de l'historique, voir HISTSIZE et HISTFILESIZE dans bash(1)
HISTSIZE=10000
HISTFILESIZE=5000
HISTTIMEFORMAT="%d/%m/%y %T "

# Vérifier la taille de la fenêtre après chaque commande et, si nécessaire,
# mettre à jour les valeurs de LINES et COLUMNS.
shopt -s checkwinsize

# Définir un prompt élégant (sans couleur, sauf si l'on "veut" la couleur)
case "$TERM" in
    xterm-color|*-256color) color_prompt=yes;;
esac

if [ -n "$force_color_prompt" ]; then
    if [ -x /usr/bin/tput ] && tput setaf 1 >&/dev/null; then
	# Nous avons le support des couleurs ; supposons qu'il est conforme à Ecma-48
	# (ISO/IEC-6429). (Le manque d'un tel support est extrêmement rare, et un tel
	# cas aurait tendance à prendre en charge setf plutôt que setaf.)
	color_prompt=yes
    else
	color_prompt=
    fi
fi

unset color_prompt force_color_prompt

# Activer la coloration de ls et ajouter des alias pratiques
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
fi

# Couleurs pour les avertissements et les erreurs de GCC
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# Aliases système
alias aliases='cat ~/.bashrc | grep "alias"'
alias back='cd -'
alias cp='cp -i'
alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'
alias less='less -R'
alias mkdir='mkdir -pv'
alias more='less'
alias mv='mv -i'
alias next='cd +1'
alias ping='ping -c 5'
alias prev='cd -1'
alias rm='rm -i'
alias shred='shred -uz'

## Make Bash error tolerant
alias :q=' exit'
alias :Q=' exit'
alias :x=' exit'
alias cd..='cd ..'

# Kubernetes
alias k='kubectl'
alias kg='kubectl get'
alias kd='kubectl describe'
alias kl='kubectl logs'
alias kpf='kubectl port-forward'
alias kdel='kubectl delete'

if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
fi

# Activer les fonctionnalités d'achèvement programmable (vous n'avez pas besoin d'activer cela si c'est déjà activé dans /etc/bash.bashrc et /etc/profile
# source /etc/bash.bashrc).
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_completion ]; then
    . /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
    . /etc/bash_completion
  fi
fi

# Couleurs pour la liste des fichiers/dossiers (ls)
export LS_COLORS="di=1;36:fi=0:ln=35:ex=32:*.rpm=90"

if [ -f /usr/share/bash-completion/completions/git ]; then
    source /usr/share/bash-completion/completions/git
fi

# Colorisation du prompt
RED=$(tput setaf 1)
GREEN=$(tput setaf 2)
YELLOW=$(tput setaf 3)
BLUE=$(tput setaf 4)
MAGENTA=$(tput setaf 5)
CYAN=$(tput setaf 6)
WHITE=$(tput setaf 7)
BOLD=$(tput bold)
RESET=$(tput sgr0)

# Personnalisation de l'invite de commande
PS1="${BOLD}\001${GREEN}\002\u \001${CYAN}\002@ \001${BLUE}\002\h \001${YELLOW}\002[${WHITE}\A\001${YELLOW}\002] \001${WHITE}\002\w \001${RESET}\002\\$ "
PROMPT_COMMAND='echo -ne "\033]0;${PWD/#$HOME/~}\007"'
echo "## informations système ##"
echo "Charge système: $(uptime | awk -F "load average: " '{print $2}')"
echo "Mémoire libre: $(free -h | awk '/^Mem/ {print $4}')"
